<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>acceuilServlet1</servlet-name>
        <servlet-class>MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>acceuilServlet1</servlet-name>
        <url-pattern>/main</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/index.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bookListServlet</servlet-name>
        <servlet-class>BookListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>bookListServlet</servlet-name>
        <url-pattern>/bookList</url-pattern>
    </servlet-mapping>
</web-app>